<% content_for :page_header do %>
  Team: <%= @team.name -%>
<% end %>

<table class="table table-bordered table-hover">
  <th>#Member</th>
  <th>Name</th>
  <% @team.users.each_with_index do |member, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= link_to member.full_name, user_path(member) %></td>
    </tr>
  <% end %>
</table>

<%= link_to "Edit", edit_team_path(@team), class: "btn btn-primary" -%>
