<% content_for :page_header do %>
  Matches list
<% end %>

<%= link_to "New match", new_match_path, class: "btn btn-lg btn-success" -%>
<table class="table table-bordered table-hover">
  <tr>
    <th>#</th>
    <th>Team 1</th>
    <th>Team 2</th>
    <th>Game count</th>
    <th>Winner</th>
    <th>Action</th>
  </tr>
  <%= render partial: 'match', collection: @matches %>
</table>
