<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu tree" data-widget="tree">
      <li>
        <%= link_to '/top' do %>
          <span>Top teams</span>
        <% end %>
      </li>
      <li class="active">
        <%= link_to users_path do %>
          <span>User Management</span>
        <% end %>
      </li>

      <li>
        <%= link_to teams_path do %>
          <span>Team Management</span>
        <% end %>
      </li>

      <li>
        <%= link_to matches_path do %>
          <span>Match Management</span>
        <% end %>
      </li>

      <li class="treeview">
        <a href="#"><i class="fa fa-link"></i> <span>Multilevel</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="#">Link in level 2</a></li>
          <li><a href="#">Link in level 2</a></li>
        </ul>
      </li>
  </section>
</aside>
